.button {
    width: 100px;
    height: 200px;
    background: transparent;
    position: relative;
    border: 0;
    
  }
  
  .button::after {
    content:'';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 5px 0px;
    width: 0;
    height: 0;
    border: 45px solid transparent;
    border-left: 0;
    border-right: 45px solid red;
     transition: all ease-in-out 200ms;
    
  }
  
  .button:hover::after{
      border: 45px solid transparent;
    border-left: 0;
    border-right: 45px solid white;
  }