.mainDiv {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    position: relative;
    perspective: 1000px;

}

.carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}